# IDE folders
.idea
*__pycache__*

# Directory that stores the secret credentials
credentials/

# Reduced and cleaned datasets
*_reduced*
*_clean*

# Directory that stores the completed models
models/

# Directory that stores the logs
logs/