[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
gensim = "*"
sklearn = "*"
nltk = "*"
tqdm = "*"
flask = "*"
tweepy = "*"
keras = "*"
tensorflow = "*"
wordcloud = "*"

[requires]
python_version = "3.7"
